@media only screen and (max-width : 873px) {

  .hide-on-mobile {
    display: none;
  }

  .flex .item {
    flex: 0 1 48%;
  }

  section h1 {
    font-size: 2em;
  }

  .header-inner {
    padding: 0 1em;
  }

  .main-nav {
    width: 100%;

    li {
      flex: 1 1 100%;
      text-align: right;

      a {
        display: inline-block;
      }
    }
  }

  .newsletter-container input,
  .newsletter-container button {
    flex: 1 1 100%;
    margin: 0 0 .5em 0;
  }

  /* HAMBURGER */

  .mobile-nav {
      width: 100%;
      text-align: right;
  }

  .visible {
    display: block;
  }

  .hamburger {
    display: block;
    background: black;

    border: none;
    outline: none;

    position: relative;
    width: 60px;
    height:35px;
    transition-duration: 0.5s;
  }

  .hamburger .h-icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 15px;
    right: 50%;
    transform: translateX(50%);
    background-color: @yellow;
  }
  .hamburger .h-icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: @yellow;
    content: "";
    top: -10px;
    left: 0;
  }

  .hamburger .h-icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: @yellow;
    content: "";
    top: 10px;
    left: 0;
  }

  .hamburger.open .h-icon {
    transition-duration: 0.5s;
    background: transparent;
  }
  .hamburger.open .h-icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  }
  .hamburger.open .h-icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
  }
  .hamburger:hover {
    cursor: pointer;
  }

}

@media only screen and (max-width: 480px) {
  .flex .item {
    flex: 1 0 100%;
  }

  .header-logo-date {
    position: static;
    padding: 0 1em;
  }
  .slick-slider .slick-dots {
    display: none !important;
  }
}